# ===== DATA (not tracked) =====
data/**
STData/**

# ===== MODELS / CHECKPOINTS =====
models/**
!models/README.md

# ===== GENERATED FIGURES =====
notebooks/figures/**
!notebooks/figures/README.md

# ===== PYTHON JUNK =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== JUPYTER JUNK =====
.ipynb_checkpoints/
*.ipynb_convert

# ===== VIRTUAL ENVS =====
.venv/
venv/
